language: python
python:
      - "3.6"

install:
  - pip install wheel
  - pip install codecov
  - pip install coverage
  - pip install pytest
  - pip install -r requirements.txt

script:
  - coverage run --source k_package -m unittest tests/test_*.py

after_success:
  - codecov
  - python setup.py sdist bdist_wheel
  - bash ./upload_to_pypi.sh
